@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.logo {
    width: 120px;
}

@media (min-width: 527px) {
    .logo {
        width: 150px;
    }
}

#navitem1 {
    color: black;
    font-family: Roboto;
}

#navitem2 {
    color: black;
    font-family: Roboto;
}

#navitem3 {
    color: black;
    font-family: Roboto;
}

#navitem4 {
    color: black;
    font-family: Roboto;
}

.banner-section {
    background-image: url('https://static.wixstatic.com/media/2d34e5_f31b7f79c757410d8aab04ca606bcbe4~mv2.png/v1/fill/w_1899,h_704,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/2d34e5_f31b7f79c757410d8aab04ca606bcbe4~mv2.png');
    background-size: cover;
    padding: 10px;
    padding-left: 30px;
}

.banner-para {
    color: white;
    font-size: 24px;
    font-family: 'Caveat';
}

.banner-para2 {
    color: white;
    font-family: "Roboto";
}

.banner-btn {
    background-color: white;
    border-radius: 10px;
    width: 180px;
    height: 38px;
}

.banner-heading {
    color: white;
    font-family: "Roboto";
    font-weight: 600;
}

.banner-nav {
    display: flex;
    margin-top: 20px;
}

.location-icon {
    color: white;
    margin-right: 5px;
}

.loc-para {
    color: white;
    font-family: "Roboto";
}

.trending-indian {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trending-heading {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 28px;
}

.trend-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.trend-card {
    height: 300px;
    width: 220px;
    border-radius: 10px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.trend-card1 {
    background-image: url('https://img.freepik.com/free-photo/hotel-male-maldives-outdoor-blue_1203-5353.jpg?t=st=1710445726~exp=1710449326~hmac=db5411974f748871a18c9da27e5372d5f539d7a823057de1740738354fb89a8c&w=360');
}

.trend-card2 {
    background-image: url('https://img.freepik.com/free-photo/underwater-scuba-diving-selfie-shot-with-selfie-stick_1253-1485.jpg?t=st=1710480550~exp=1710484150~hmac=3c11d3bac53639131d70b94e33cac7358c09ec2468f468044aaa586021dc8a4b&w=900');
}

.trend-card3 {
    background-image: url('https://img.freepik.com/free-photo/vertical-shot-lochawa-la-khang-monastery-kalpa-himachal-pradesh-cold-winter_181624-23562.jpg?t=st=1710484795~exp=1710488395~hmac=6dae10b14c39933f0ea367dc3baca51aa57ffbea866bc565e9ede35d1688d045&w=360');
}

.trend-card4 {
    background-image: url('https://img.freepik.com/free-photo/arab-people-with-camel-caravan_1004-19.jpg?t=st=1710480662~exp=1710484262~hmac=8b8d6737529876ddd41b5a5016a226744a289f194ef92fc7a95062e6393b56f0&w=1060');
}

.trend-card5 {
    background-image: url('https://img.freepik.com/free-photo/two-tourist-standing-road-near-snowy-mountain_23-2148153673.jpg?t=st=1710485007~exp=1710488607~hmac=3842863f7d98566645573547e6210e47d984dda699ab4d6498349cc1edc7ce89&w=740');
}

.trend-card-hed {
    color: white;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 600;
}

.trend-card-para {
    color: white;
    font-family: Roboto;
    text-align: center;
    font-size: 18px;

}

.global-card1 {
    background-image: url('https://img.freepik.com/free-photo/wat-arun-temple-dawn-twilight-bangkok-thailand_554837-458.jpg?t=st=1710485280~exp=1710488880~hmac=52d7f528e8ac2e987daddf0e6ef8b0bfe0634bd37644dde2a59fee778da5126b&w=360');
}

.global-card2 {
    background-image: url('https://img.freepik.com/free-photo/aerial-view-city-by-water_23-2150893169.jpg?t=st=1710483710~exp=1710487310~hmac=39525e33efb81cab2c84cee7f653e03db7ce73fedb65f82416be69fe8239a64c&w=740');
}

.global-card3 {
    background-image: url('https://img.freepik.com/free-photo/bali-pagoda-sunrise-indonesia_1150-11013.jpg?t=st=1710488675~exp=1710492275~hmac=adc19fd1598936d0b74b5ae289dc1ead054ad13a7732cd6a753a503ff066467f&w=996');
}

.global-card4 {
    background-image: url('https://img.freepik.com/free-photo/dubai-skyline-sunset-time-united-arab-emirates_231208-7631.jpg?t=st=1710485532~exp=1710489132~hmac=078c5a915107bd88eed3873423b55c5791ebcfdbea4c741679a26a39e761ebe8&w=360');
}

.global-card5 {
    background-image: url('https://img.freepik.com/free-photo/asian-woman-wearing-thai-dress-costume-traditional-according-thai-culture-pha-dok-siew-waterfall-chiang-mai-thailand_335224-1164.jpg?t=st=1710485570~exp=1710489170~hmac=6a691a96580554ad765b4f91cd20c4785f2f0abfc9e123500517184465bc420f&w=1060');
}

.offer-section {
    padding: 20px;
}

.offer {
    background-image: url('https://static.wixstatic.com/media/2d34e5_d8c0319d8c434b9eb351c303c31b5dfb~mv2.jpg/v1/fill/w_1225,h_451,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/2d34e5_d8c0319d8c434b9eb351c303c31b5dfb~mv2.jpg');
    border-radius: 10px;
    margin: 30px;
    background-size: cover;
    padding: 20px;
}

.offer2 {
    background-image: url('https://static.wixstatic.com/media/2d34e5_bec064b8190343a9891a2f5570cbccad~mv2.jpg/v1/fill/w_1200,h_442,al_c,q_85,enc_auto/2d34e5_bec064b8190343a9891a2f5570cbccad~mv2.jpg');
    border-radius: 10px;
    margin: 30px;
    background-size: cover;
    padding: 20px;
}

.offer-main-hed {
    font-family: "Roboto";
    font-weight: 600;
    font-size: 36px;
}

.offer-btn {
    background-color: white;
    color: black;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 190px;
}

.offer-place {
    color: white;
    margin-top: 30px;
}

.offer-hed {
    color: white;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 600;
}

.offer-para {
    color: white;
    font-family: "Roboto";
}

.gift-section {
    background-image: linear-gradient(to right, #d095f5, #9acdd9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.gift-para {
    color: white;
    font-weight: 600;
}

.gift-para2 {
    color: white;
}

.gift-heading {
    color: white;
    font-weight: 600;
    font-size: 30px;
    font-family: "Roboto";
}

.gift-img {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 10px 0px #5b6061;
}

@media (min-width:576px) {
    .gift-section {
        flex-direction: row;
    }

    .gift-img {
        width: 400px;
        margin: 10px;
        order: 1;
    }
}

.flight-booking {
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.flight-btn {
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 128px;
    color: black;
    font-weight: 500;
    font-family: "Roboto";
}

.flight-img {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-self: center;
}

@media (min-width:576px) {
    .flight-booking {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .flight-img {
        order: 1;
        margin-right: 30px;
    }
}